# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Backend virtual environment
backend/venv/

# Environment variables
backend/.env

# Database
backend/smartevent.db

# Generated QR codes
backend/static/qr_codes/

# Frontend dependencies
frontend/node_modules/

# Frontend build
frontend/dist/
